4b9a69a623a5e619a33baa1185f58f51c0bc840f4b9a69a623a5e619a33baa1185f58f51c0bc840f.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
