.react-tabs {
  -webkit-tap-highlight-color: transparent;

}

.react-tabs__tab-list {
  border-bottom: 1px solid rgb(154, 153, 255);
  margin: 0 0 20px;
  padding: 0;
  background: rgb(12, 36, 66);
}

.react-tabs__tab {
  font-weight: bold;
  font-size: 32px;
  display: inline-block;
  border-bottom: none;

  position: relative;
  list-style: none;
  padding: 12px 120px;
  cursor: pointer;
  color: rgb(109, 109, 109);
  
}

.react-tabs__tab--selected {
  background: rgb(7, 77, 168);
  color: rgb(255, 255, 255);
}

.react-tabs__tab--disabled {
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab#react-tabs-0 {
  background: rgb(139, 0, 0);
  display: flex;
  padding: 6px 80px;
}

.react-tabs__tab--selected#react-tabs-0 {
  background: rgb(189, 0, 0);
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: rgb(81, 35, 207);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
